<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FromEmail" value="noreply@yourdomain.edu.au"></add>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>