<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="DmpDBConnection" value="Data Source=;Initial Catalog=Urdms;Integrated Security=True;" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="UrdmsWebsiteUrl" value="https://site.yourdomain.edu.au" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.yourdomain.edu.au" enableSsl="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>