<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="DmpDBConnection" value="Data Source=localhost;Initial Catalog=UrdmsCI;Integrated Security=True;Pooling=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.yourdomain.edu.au" enableSsl="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>