<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActionMailer.Standalone" version="0.6.2" />
  <package id="NServiceBus" version="4.0.0-unstable3245" targetFramework="net40" />
  <package id="NServiceBus.Host" version="4.0.0-unstable3245" targetFramework="net40" />
  <package id="NServiceBus.Interfaces" version="4.0.0-unstable3245" targetFramework="net40" />
  <package id="RazorEngine" version="2.1" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net40" />
</packages>