<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <Logging Threshold="INFO" />

  <!--<TransportConfig
    MaxRetries="The total number of first-level tries each message is allowed."
    MaximumConcurrencyLevel="The number of threads will process messages simultaneously."
    MaximumMessageThroughputPerSecond="Set a limit on how quickly messages can be processed between all threads. Use a value of 0 to have no throughput limit." />-->
  <TransportConfig MaxRetries="5" MaximumConcurrencyLevel="1" MaximumMessageThroughputPerSecond="0" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <!--<UnicastBusConfig 
    ForwardReceivedMessagesTo="The address to which messages received will be forwarded."
    DistributorControlAddress="The address for sending control messages to the distributor."
    DistributorDataAddress="The distributor's data address, used as the return address of messages sent by this endpoint."
    TimeToBeReceivedOnForwardedMessages="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"
    TimeoutManagerAddress="The address that the timeout manager will use to send and receive messages." >
    <MessageEndpointMappings>
      To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />
      
      To register all message types defined in an assembly with a specific namespace (it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />
      
      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Messages="Urdms.ProvisioningService.Events" Endpoint="urdms.provisioningservice" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <appSettings>
    <add key="DmpDBConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=Urdms;Integrated Security=True;Pooling=False"></add>
  </appSettings>
</configuration>