<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <Logging Threshold="ERROR" xdt:Transform="Replace" />
  
  <appSettings>
    <add key="SpRoot" value="https://sharepoint.yourdomain.edu.au" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SpServiceAccount" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SpServiceAccountPassword" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SpDomain" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <applicationSettings xdt:Transform="Replace">
    <Urdms.ProvisioningService.SharePoint.Properties.Settings>
      <setting name="Urdms_ProvisioningService_SharePoint_termsservice_Taxonomy_x0020_web_x0020_service" serializeAs="String">
        <value>https://sharepoint.yourdomain.edu.au/_vti_bin/taxonomyclientservice.asmx</value>
      </setting>
    </Urdms.ProvisioningService.SharePoint.Properties.Settings>
  </applicationSettings>
  
</configuration>
