<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Urdms.ProvisioningService.SharePoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <Logging Threshold="INFO" />
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="urdms.error" />
  <appSettings>
    <clear />
    <add key="SpRoot" value="https://sharepoint.yourdomain.edu.au" />
    <add key="SpServiceAccount" value="" />
    <add key="SpServiceAccountPassword" value="" />
    <add key="SpDomain" value="" />
    <add key="SiteNamePrefix" value="project" />
    <add key="SpManagedPath" value="research" />
  </appSettings>
  <applicationSettings>
    <Urdms.ProvisioningService.SharePoint.Properties.Settings>
      <setting name="Urdms_ProvisioningService_SharePoint_termsservice_Taxonomy_x0020_web_x0020_service"
        serializeAs="String">
        <value>https://sharepoint.yourdomain.edu.au/_vti_bin/taxonomyclientservice.asmx</value>
      </setting>
      <setting name="Urdms_ProvisioningService_SharePoint_termsservice_Taxonomy_x0020_web_x0020_service1"
        serializeAs="String">
        <value>https://sharepoint.yourdomain.edu.au/_vti_bin/taxonomyclientservice.asmx</value>
      </setting>
    </Urdms.ProvisioningService.SharePoint.Properties.Settings>
  </applicationSettings>
</configuration>
