<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="urdms.error"/>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Urdms.ProvisioningService.Commands" Endpoint="urdms.provisioningservice" />
      <add Messages="Urdms.Approvals.ApprovalService.Commands" Endpoint="urdms.approvals.approvalservice" />
      <add Messages="Urdms.Approvals.VivoPublisher.Messages" Endpoint="urdms.approvals.vivopublisher" />
      <add Messages="Urdms.DocumentBuilderService.Commands" Endpoint="urdms.documentbuilderservice" />
    </MessageEndpointMappings>
  </UnicastBusConfig>  
</configuration>