<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DmpDBConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=Urdms;Integrated Security=True;Pooling=False"></add>
    <add key="DataManagementPlanTempStore" value="c:\temp\" />
    <add key="SiteUrl" value="http://urdms.yourdomain.edu.au" />
    <add key="SharePointAdmin" value="" />
    <add key="SharePointAdminPassword" value="" />
    <add key="SharePointAdminDomain" value="" />
    <add key="SharePointProjectDocumentLibrary" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.2.830" newVersion="2.5.2.830" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>