<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="AutofacContrib.NSubstitute" version="2.5.2.830" />
  <package id="log4net" version="1.2.10" />
  <package id="NBuilder" version="3.0.1.1" />
  <package id="NServiceBus" version="3.0.1" />
  <package id="NServiceBus.Testing" version="3.0.1" />
  <package id="NSubstitute" version="1.0.0.0" />
  <package id="NUnit" version="2.6.0.12054" />
</packages>