<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <Logging Threshold="ERROR" xdt:Transform="Replace" />

  <DBSubscriptionStorageConfig xdt:Transform="Replace">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver"/>
      <add Key="connection.connection_string" Value="Data Source=;Initial Catalog=Urdms.Approvals.Subscriptions;Integrated Security=True;"/>
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>

  <NHibernateSagaPersisterConfig xdt:Transform="Replace">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver"/>
      <add Key="connection.connection_string" Value="Data Source=;Initial Catalog=Urdms.Approvals;Integrated Security=True;"/>
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect"/>
    </NHibernateProperties>
  </NHibernateSagaPersisterConfig>
</configuration>