<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database" connectionString="Data Source=localhost;Initial Catalog=UrdmsCI;Integrated Security=True;Pooling=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="LdapURI" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LdapUser" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LdapPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.diagnostics xdt:Transform="Insert">
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="eventListener" initializeData="Urdms.Dmp" type="System.Diagnostics.EventLogTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <authentication mode="Forms">
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
  </system.web>


</configuration>
