@{
    PageSettings.Title = "Data Management Plan";
}

<div class="fullwidth">
    <p>Research Data Manager is an application that will assist you with your research data management needs.</p>
    <p>Using the Research Data Manager you can:</p>       
    <ul>
        <li>Create a Data Management Plan for your research projects</li>
        <li>Create and manage descriptions of datasets that belong to your research projects</li>
    </ul>   
</div>
<div style="padding-left: 200px;">
    @Html.ActionLink("Get Started", "NewProjects", "Project", new { }, new { @class = "action_button" })
</div>