@{
    ViewBag.Title = "Instructions";
}

<h1>Instructions</h1>
<div id="instructionsPage" class="fullwidth">
<h2><a name="Top" id="Top"></a>How to use Research Data Manager</h2>
<ul>
  <li><a href="#GetStarted">Get Started</a>
    <ul>
      <li><a href="#DMPResearch-Initiated">Data Management Plan for Research-Initiated Project</a></li>
      <li><a href="#DataDeposit">Data Deposit Request</a></li>
    </ul>
  </li>
  <li><a href="#MyResearchProjects">My Research Projects</a></li>
  <li><a href="#ManageDataDescriptions">Manage Data Descriptions</a>
    <ul>
      <li><a href="#ViewFirstDataDescriptions">View/Edit first data description</a></li>
      <li><a href="#CreateNewDataDescriptions">Create new data descriptions</a></li>
      <li><a href="#PublishDataDescriptions">Publish data descriptions</a></li>
    </ul>
  </li>
</ul>
<h2><a name="GetStarted" id="GetStarted"></a>Get Started</h2>
<p>This is the starting point for creating Data Management Plans and requesting</p>
<p><a name="DMPResearch-Initiated" id="DMPResearch-Initiated"></a><img src="/Content/Images/instructions/DMP.jpg" width="332" height="33" alt="DMP Research-Initiated" /></p>
<ol>
  <li>Select &quot;Data Management Plan for Research-Initiated Project&quot; on the <em>Get Started</em> page.</li>
  <li>Click Next after you read the <em>Intorduction</em> page.</li>
  <li>Enter research project information on the Project Details page.</li>
  <li>click Save and Next.</li>
</ol>
<p>Using existing Data Management Plan as a template:</p>
<ul>
  <li>If there are existing Data Management Plans then you will be able to see the <em>Data Management Plan Template</em> page.</li>
  <li>If you wish to use an existing Data Management Plan as a template then select Yes and select the approapriate project.</li>
  <li>If you do not wish to use an existing Data Management Plan as a template then select No.</li>
  <li>Click Save and Proceed to DMP</li>
</ul>
<p>Proceeding with the Data Management Plan:</p>
<ol>
  <li>Enter the relevant information in<em> section 1: Information About Research Data</em> page.</li>
  <li>Click Save and Next.</li>
  <li>Enter the relevant information in<em> section 2: Data documentation and organisation</em> page.</li>
  <li>Click Save and Next.</li>
  <li>Enter the relevant information in<em> section 3: Ethics, confidentiality and privacy</em> page.</li>
  <li>Click Save and Next.</li>
  <li>Enter the relevant information in<em> section 4: Data Storage and Backup</em> page.</li>
  <li>Click Save and Next.</li>
  <li>Enter the relevant information in<em> section 5: Deposit and Long-Term Preservation</em> page.</li>
  <li>Click Save and Next.</li>
  <li>To gain access to a Project Storage Space confirm the request by selecting &quot;I acknowledge that.....&quot; and clicking Submit.</li>
  <li>You will see <em>Confirmation</em> page.</li>
  <li>You will also receive a confirmation email.</li>
</ol>
<p>You will also receive an email containing link to your  Project Storage Space once it has been created.</p>
<p><a href="#Top">[Back to top]</a></p>
<p><a name="DataDeposit" id="DataDeposit"></a><img src="/Content/Images/instructions/data_deposit.jpg" width="161" height="32" alt="Data deposit" /></p>
<ol>
  <li>Select &quot;Data Management Plan for Research-Initiated Project&quot; on the <em>Get Started</em> page.</li>
  <li>Enter research project information on the Project Details page.</li>
  <li>Select Save and Next.</li>
  <li>Enter the relevant information in<em> Data Deposit Form</em> page.</li>
  <li>Click Save and Next.</li>
  <li>To gain access to a Project Storage Space confirm the request by selecting &quot;I acknolwedge that.....&quot; and clicking Submit.</li>
  <li>You will see <em>Confirmation</em> page.</li>
  <li>You will also receive a confirmation email.</li>
</ol>
<p>You will also receive an email containing link to your  Project Storage Space once it has been created.</p>
<p><a href="#Top">[Back to top]</a></p>
<h2><a name="MyResearchProjects" id="MyResearchProjects"></a>My Research Projects</h2>
<p>You can view all research projects that were iniated for Data Management Plan or Data Deposit in the <em>My Research Projects</em> page.</p>
<p><img src="/Content/Images/instructions/MyResearchProjects.jpg"  alt="My Research Projects" /></p>
<ul>
  <li>Project Title: Click project title to view or edit project details.</li>
  <li>Project Source: Identifies source of the project.</li>
  <li>Project status: Displays the status of the project as defined in the project details.</li>
  <li>Project Storage Space: Displays the status of the request for Project Storage Space. Status' are:
    <ul>
      <li>Awaiting DMP submission: Request for Project Storage Space has not been submitted.</li>
    </ul>
  </li>
  <ul>
    <li>In Progress: Request has been submitted and the  Project Storage Space is being created.</li>
    <li>Provisioned: Project Storage Space has been created.</li>
  </ul>
  <li>Action:
    <ul>
      <li>Edit DMP: Click on Edit DMP if you wish to view or update your Data Management Plan for the project</li>
      <li>Manage Data Descriptions: Click this if you wish to see a list of descriptions for datasets that belong to the project. You can also add and edit data descriptions.</li>
    </ul>
  </li>
</ul>
<p><a href="#Top">[Back to top]</a></p>
<h2><a name="ManageDataDescriptions" id="ManageDataDescriptions"></a>Manage Data descriptions</h2>
<p>This section focuses on capturing data descritions on a per project basis. You can describe your datasets individually and publish them to the Australian Research Data Commons (ARDC)</p>
<p><img src="/Content/Images/instructions/datadescriptions.jpg" alt="My Data Descriptions" /></p>
<h3><a name="ViewFirstDataDescriptions" id="ViewFirstDataDescriptions"></a>View/Edit first data description</h3>
<p>The first data descriptions is created automatically from your description in the Data Management Plan. To view/edit the descritions:</p>
<ol>
  <li>Click on Manage Data descriptions on the <em>My Research Projects</em> page to go to the <em>My Data Descriptions</em> page.</li>
  <li>Click on the collection title &quot;Research data for.....&quot;</li>
  <li>You will view and be able to edit  section 1 of the <em>Data Description</em> page prepopulated with relevant responses from the Data Management Plan.</li>
  <li>Click Save and Next to move to the next section.</li>
  <li>You will view and be able to edit section 2 of the <em>Data Description</em> page prepopulated with relevant responses from the  project details and Data Management Plan.</li>
  <li>Click Save and Confirm to go back to the <em>My Data Descriptions</em> page.</li>
</ol>
<p><a href="#Top">[Back to top]</a></p>
<h3><a name="CreateNewDataDescriptions" id="CreateNewDataDescriptions"></a>Create new data descriptions</h3>
<ol>
  <li>Click Add data descriptions on the <em>My Data Descriptions</em> page.</li>
  <li>Enter the relevant information in section 1 of the <em><em>My Data Descriptions</em> </em>page.</li>
  <li>Click Save and Next.</li>
  <li>Section 2 of the <em>Data Description</em> page prepopulated with relevant responses from the  project details and Data Management Plan. You will be able to edit the details.</li>
  <li>Click Save and Cofirm to go back to the <em>My Data Descriptions</em> page.</li>
</ol>
<p><a href="#Top">[Back to top]</a></p>
<h3><a name="PublishDataDescriptions" id="PublishDataDescriptions"></a>Publish data descriptions</h3>
<ol>
  <li>Select the data descriptions that you wish to publish on the <em>data descriptions list</em> page.</li>
  <li>Click Submit for Approval.</li>
  <li>You will see <em>Confirmation</em> page on successful submission of the data descriptions.</li>
</ol>
<p>The data descriptions will be sent for approvals before they are release to the ARDC. You can check the status of the data descriptions on the <em>data descriptions list</em> page.</p>
<p><a href="#Top">[Back to top]</a></p>
</div>