<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <clear/>
    <add key="SpRoot" value="https://sharepoint.yourdomain.edu.au" />
    <add key="SpServiceAccount" value="" />
    <add key="SpServiceAccountPassword" value="" />
    <add key="SpDomain" value="" />
    <add key="SpManagedPath" value="" />
    <add key="SiteNamePrefix" value="" />
    <add key="SpTemplateName" value="" />
  </appSettings>
  
  
</configuration>