@using Urdms.Dmp.Web.Pages
@{
    PageSettings.Title = "NotFound";
}

<h1>Sorry!</h1>
<div class="fullwidth">
    <div id="col_one">
	    <p>We're sorry, but the page you requested could not be found. This can be for a variety of reasons: a misspelt web address, a bad external link, or an error on our behalf. If you feel it is an error on our behalf, please contact us.</p>
    </div>
</div>