@{
    PageSettings.Title = "An error has occurred";
    Response.TrySkipIisCustomErrors = true;
}

<h1>An error has occurred</h1>

<p>This website has encountered an error and we apologise for any inconvenience. Please visit the site again shortly.</p>
<p>If the problem persists, please contact our staff via our website feedback form.</p>