@model IEnumerable<Urdms.Dmp.Database.Entities.ClassificationBase>
           
<table id="socioEconomicObjectivesGrid">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>&nbsp;</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("_SocioEconomicObjective", item)
        }
    </tbody>
</table>