<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharePointClientApiTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear/>
    <add key="SpRoot" value="https://sharepoint.yourdomain.edu.au" />
    <add key="SpServiceAccount" value="" />
    <add key="SpServiceAccountPassword" value="" />
    <add key="SpDomain" value="" />
    <add key="SpManagedPath" value="" />
    <add key="SiteNamePrefix" value="" />
    <add key="SpTemplateName" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SharePointClientApiTest.Properties.Settings>
      <setting name="SharePointClientApiTest_termsservice_Taxonomy_x0020_web_x0020_service"
        serializeAs="String">
        <value>https://sharepoint.yourdomain.edu.au/_vti_bin/taxonomyclientservice.asmx</value>
      </setting>
    </SharePointClientApiTest.Properties.Settings>
  </applicationSettings>
</configuration>
