<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <Logging Threshold="INFO" />
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="urdms.error" />
  <UnicastBusConfig ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>
      <add Messages="Urdms.Approvals.ApprovalService.Messages" Endpoint="urdms.approvals.approvalservice" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <appSettings>
    <add key="VivoCollectionDBConnection" value="Data Source=;User Id=;Password=" />
    <add key="DataCollectionDBConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=Urdms;Integrated Security=True;Pooling=False" />
  </appSettings>
</configuration>