<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DmpDBConnection" value="Data Source=localhost;Initial Catalog=UrdmsCI;Integrated Security=True;Pooling=False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SiteUrl" value="http://urdms.yourdomain.edu.au" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdmin" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdminPassword" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdminDomain" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>
