<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Logging Threshold="ERROR" xdt:Transform="Replace" />
  
  <appSettings>
    <add key="DmpDBConnection" value="Data Source=;Initial Catalog=Urdms;Integrated Security=True;" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdmin" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdminPassword" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SharePointAdminDomain" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>